* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(218, 218, 218);
}

form > .title {
    text-align: center;
    padding-top: 20px;
    font-size: 3em;
}

form > label {
    font-size: 1.7em;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 10px;
}

form > label > input {
    margin-top: 10px;
    padding: 5px;
    font-size: 0.6em;
    width: 90%;
    border-radius: 5px;
    border: none;
}

form > .button-form {
    height: 30px;
    width: 10%;
    align-self: center;
    cursor: pointer;
    font-size: 1.1em;
    margin-bottom: 10px;
    background-color: rgb(0, 94, 255);
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

form > .button-form:hover {
    background-color: rgb(0, 65, 179);
}

