<meta charset="UTF-8">
<div>
        <h2>Editar a tarefa</h2>
    <div>
        <label for="title-edit">Título: 
            <input type="text" formControlName="title" id="title-edit" class="input-title" required>
        </label>
        
        <label for="description-edit">Descrição: 
            <input type="text" formControlName="title" id="description-edit" class="input-description" required>
        </label>
        <label for="completed-edit">Tarefa Completa?
            <input type="checkbox" formControlName="completed" id="completed-edit" class="input-checkbox">
        </label>
        <button type="submit" class="button-save">Salvar alterações</button>
        <button type="button" class="button-cancel">Cancelar alterações</button>
    </div>
</div>
