* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div > h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgb(105, 105, 105);
}

table {
   border-collapse: collapse;
   border: 2px solid black;
   margin-top: 25px;
   height: 200px;
}

table > thead {
    font-size: 2em;
    background-color: rgb(215, 215, 215);
}

table > thead > tr > th {
    border: 2px solid black;
    padding: 10px;
    text-shadow: 4px 4px 4px white;
}

table > tbody {
    background-color: rgb(169, 169, 169);
}

table > tbody > tr {
    border: 2px solid black;
    padding: 10px;
    font-size: 1.3em;
    text-shadow: 2px 2px 2px white;
}

table > tbody > tr:nth-child(even) {
    background-color: rgb(192, 192, 192);
}