* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div > h2 {
    font-size: 2.5em;
    color: #333;
    margin-top: 30px;
    text-align: center;
}