<meta charset="UTF-8">
<div>
    <h2>Lista de Tarefas</h2>
    <table>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descrição</th>
                <th>Status</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @for (task of tasks; track task.id) {
                <tr>
                    <td>
                        {{task.title}}
                    </td>
                    <td>
                        {{task.description}}
                    </td>
                    <td id="task-completed">
                        {{task.completed ? 'Concluída' : 'Pendente'}}
                    </td>
                    <td>
                        <div id="button">
                            <button type="button" id="button-edit">
                                <span class="icon">✏️</span>
                                Editar
                            </button>
                            <button type="button" id="button-delete">
                                <span class="icon">🗑️</span>
                                Excluir
                            </button>
                        </div>
                    </td>
                </tr>   
            }
            @empty {
                <tr>
                    <td colspan="4" style="text-align: center; padding: 15px; background-color: #f8f8f8;">
                        <p style="margin: 0;">Nenhuma tarefa encontrada.</p>
                        <p style="margin: 0; font-size: 0.9em;">Comece adicionando uma nova tarefa.</p> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>