* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div > h2 {
    font-size: 2.5em;
    color: #333;
    margin-top: 30px;
    text-align: center;
}

table { 
   border-collapse: collapse;
   border: 2px solid black;
   margin-top: 25px;
}

table > thead {
    font-size: 2em;
    background-color: rgb(215, 215, 215);
}

table > thead > tr > th {
    border: 2px solid black;
    padding: 10px;
    text-shadow: 4px 4px 4px white;
}

table > tbody {
    background-color: rgb(169, 169, 169);
}

table > tbody > tr > td {
    border: 2px solid black;
    padding: 10px;
    font-size: 1.3em;
    text-shadow: 2px 2px 2px white;
}

table > tbody > tr:nth-child(even) {
    background-color: rgb(192, 192, 192);
}

table > tbody > tr > #task-completed {
    text-align: center;
}

table > tbody > tr > td > #button {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: row;
}

table > tbody > tr > td > #button > #button-edit {
    background-color: #007BFF;
    border: none;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1em;
    color: white;
    height: 30px;
}

table > tbody > tr > td > #button > #button-edit > .icon {
    font-size: 1.1em;
}

table > tbody > tr > td > #button > #button-edit:hover {
    background-color: #0056b3;
}

table > tbody > tr > td > #button > #button-delete {
    background-color: #DC3545;
    border: none;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1em;
    color: white;
    height: 30px;
}

table > tbody > tr > td > #button > #button-delete:hover {
    background-color: #a71d2a;
}
